---
---

<div class="px-4 py-8 md:py-8 sm:px-6 mx-auto md:px-24 lg:px-8 lg:py-10 max-w-6xl">
	<div class="grid grid-cols-1 row-gap-8 md:grid-cols-1">
		<!-- <div class="text-center md:border-r dark:md:border-slate-500 mb-10 md:mb-0">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-primary-500 font-heading">100+</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">
				Users
			</p>
		</div> -->
		<br>
		<div class="text-center">
			<div class="text-4xl font-bold lg:text-5xl xl:text-6xl text-primary-500 font-heading">100+</div>
			<p class="text-sm font-medium tracking-widest text-gray-800 dark:text-slate-400 uppercase lg:text-base">users</p>
		</div>
	</div>
</div>
